
.post-header {
    margin-bottom: 30px;
    position: relative;
}

table {
    width: 95%;
}


h1 {
    color: #c9d0d4;
    font-family: 'Courier New', sans-serif;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    border-bottom: double #555;
}

h2 {
    color: #c9d0d4;
    font-family: 'Courier New', sans-serif;
    font-size: 22px;
    font-weight: 150;
    text-align: left;
}

p {
    color: #bbc3c8;
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
    text-align: left;
}

p1 {
    color: #bbc3c8;
    font-family: 'Courier New', sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
    text-align: left;
}

.modules {
    color: #bbc3c8;
    font-family: 'Courier New', sans-serif;
    text-indent: 45px;
    margin: 0;
    text-align: left;
}

.module_container {
    color: #bbc3c8;
    font-family: 'Courier New', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.module_name {
    color: #bbc3c8;
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    float: left;
}


.module_branch {
    color: #3A60FE;
    font-family: 'Courier New', sans-serif;
    font-size: 14px;
}

.module_tag {
    color: #4A80F6;
    font-family: 'Courier New', sans-serif;
    font-size: 14px;
}

.module_id {
    color: #C1C1C1;
    font-family: 'Courier New', sans-serif;
    font-size: 10px;
}

.module_change_no {
    color: white;
    font-family: 'Courier New', sans-serif;
    font-size: 11px;
}

.module_change_untracked {
    color: greenyellow;
    font-family: 'Courier New', sans-serif;
    font-size: 11px;
}



.module_change_del {
    color: #F35F24;
    font-family: 'Courier New', sans-serif;
    font-size: 11px;
}

.module_change_mod {
    color: #E8DD1D;
    font-family: 'Courier New', sans-serif;
    font-size: 11px;
}

.module_change_new {
    color: #79F430;
    font-family: 'Courier New', sans-serif;
    font-size: 11px;
}

.module_spacer {
    content: "";
    clear: both;
    display: table;
}

a {
    color: #c64119;
    border-bottom: 1px solid #c64119;
    text-decoration: none;
}


a:hover {
    color: #993213;
    border-bottom: 1px solid #993213;
}


.date {
    color: #bbc3c8;
    background: #292929;
    display: inline-block;
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px 18px;
    padding: 10px 12px 8px;
    position: absolute;
    bottom: -36px;
}

body {
    background-color: #000;
    height: 200vh;
    font-family: 'Muli', sans-serif;
}