<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ADCC-SW {{vehicle_name}} </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            const socket = io();

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function () {
                socket.emit('my_event', {data: 'I\'m connected!'});
                $('#connection_status').text('Connected');
                document.getElementById("connection_status").style.color = "green";
                // window.alert('You are now connected to ADCC Profile!');
            });

            // Event handler for disconnection.
            // The callback function is invoked when a connection with the
            // server is terminated.
            socket.once('disconnect', function () {
                // socket is disconnected
                $('#connection_status').text('Disconnected');
                document.getElementById("connection_status").style.color = "red";
            });

            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            var ping_pong_times = [];
            var start_time;
            window.setInterval(function () {
                start_time = (new Date).getTime();
                $('#transport').text(socket.io.engine.transport.name);
                socket.emit('my_ping');
            }, 1000);

            // Handler for the "pong" message. When the pong is received, the
            // time from the ping is stored, and the average of the last 30
            // samples is average and displayed.
            socket.on('my_pong', function () {
                var latency = (new Date).getTime() - start_time;
                ping_pong_times.push(latency);
                ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
                var sum = 0;
                for (var i = 0; i < ping_pong_times.length; i++)
                    sum += ping_pong_times[i];
                $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
            });

            // Event handler for update git_submodule_status
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('git_submodule_status', function (msg, cb) {
                $('#git_last_update').text(msg.time.toString());
                var gitSubStatusContainer = document.getElementById("git_submodule_status")
                gitSubStatusContainer.innerText = ""
                var div_submodule_start = document.createElement("div");
                div_submodule_start.className = "module_container"
                div_submodule_start.innerHTML = "<p><b>Submodules</b></p> <br></br>"
                gitSubStatusContainer.appendChild(div_submodule_start)

                for ([module, info_dict] of Object.entries(msg.submodule_status)) {

                    let div_module_container = document.createElement("div");
                    div_module_container.className = "module_container"

                    let div_module_name = document.createElement("div");
                    div_module_name.className = "module_name"
                    div_module_name.innerHTML = "<p1><b>" + module + "</b></p1>"
                    div_module_container.appendChild(div_module_name)

                    // Branch
                    let div_module_branch = document.createElement("div");
                    div_module_branch.className = "module_branch";
                    div_module_branch.innerHTML = "<b>" + info_dict["branch"] + "</b> ";
                    div_module_container.appendChild(div_module_branch);

                    // Tag
                    let div_module_tag = document.createElement("div");
                    div_module_tag.className = "module_tag"
                    div_module_tag.innerHTML = "<b>" + info_dict["tag"] + "</b> "
                    div_module_container.appendChild(div_module_tag)

                    // Id
                    // let div_module_id = document.createElement("div");
                    // div_module_id.className = "module_id"
                    // div_module_id.innerHTML = "<b>" + info_dict["id"] + "</b> "
                    // div_module_container.appendChild(div_module_id)

                    // Module spacer
                    let div_module_spacer = document.createElement("div");
                    div_module_spacer.className = "module_spacer"
                    div_module_container.appendChild(div_module_spacer)

                    // Changes
                    if ( Array.isArray(info_dict["changes"]) && info_dict["changes"].length > 0){
                        for (const change of info_dict["changes"]){
                            let div_module_change = document.createElement("div");
                            div_module_change.innerHTML ="<b>"+ change + "</b>"
                            if (change.includes("modified:")){
                                div_module_change.className = "module_change_mod"
                            }else if (change.includes("new:")){
                                div_module_change.className = "module_change_new"
                            }else if (change.includes("deleted:")){
                                div_module_change.className = "module_change_del"
                            }
                            div_module_container.appendChild(div_module_change)
                        }
                    }



                    gitSubStatusContainer.appendChild(div_module_container)

                }

            });

        });
    </script>
</head>
<body>
<h1>
    ADCC SW Upgrade
</h1>

<h2> Connection </h2>
<p> Status: <b><span id="connection_status"></span></b></p>
<p> Server on: <b> {{vehicle_name}} </b><br></p>
<p> Async mode is: <b>{{ async_mode }}</b><br></p>
<p> Current transport is: <b><span id="transport"></span></b></p>
<p> Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
<br></br>
<h2> Profile </h2>
<p> Path: <b>{{ git_profile_path }}</b><br></p>
<p> Last Update:<b><span id="git_last_update"></span></b></p>
<br></br>
<div id="git_submodule_status" class="modules"></div>
</body>


</html>